.link-container,
.social-link,
.social-link-text,
.social-link svg {
  position: absolute;
}

.link-container {
  top: 0;
  left: 34px;
  width: 60px;
  height: 100%;
}

.social-link {
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-green);
  border-radius: 96px;
  cursor: pointer;
  transition: 1s;
}

.social-link-text {
  display: none;
  font-size: 26px;
  color: var(--color-white);
  left: 68px;
  top: 12px;
  text-wrap: nowrap;
}

.facebook-link {
  top: 25.5%;
}

.facebook-link svg {
  left: 20px;
  top: 12px;
}

.twitter-link {
  top: 34.9%;
}

.twitter-link svg {
  left: 14px;
  top: 16px;
}

.share-link {
  top: 47%;
}

.share-link svg {
  left: 13px;
  top: 13px;
  scale: 1.1;
}

@media screen and (min-width: 1024px) {
  .social-link:hover {
    fill: var(--color-white);
    background-color: var(--color-dark-green);
    border: 1px solid var(--color-dark-green);
    width: 238px;
    box-shadow: 5px 14px 15px var(--color-button-shadow);
  }

  .share-link:hover path {
    stroke: var(--color-white);
    transition: 1s;
  }

  .social-link:hover .social-link-text {
    display: inherit;
    animation: showText 0.8s forwards;
  }
}

@media screen and (max-width: 1400px) {
  .facebook-link {
    top: 17%;
  }

  .twitter-link {
    top: 27%;
  }

  .share-link {
    top: 70%;
  }
}

@media screen and (max-width: 1023px) {
  .link-container {
    top: auto;
    bottom: 0px;
    left: 0;
    height: 60px;
    width: 95%;
  }

  .facebook-link,
  .twitter-link,
  .share-link {
    top: 0px;
  }

  .twitter-link {
    left: 90px;
  }

  .share-link {
    right: 2%;
  }
}

@keyframes showText {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
