.price-container {
  position: absolute;
  width: 289px;
  height: 141px;
  top: 67px;
  right: -4px;
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: -8px 14px 27px var(--color-text-shadow);
  padding: 10px 21px;
  z-index: 1;
}

.days {
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 38px;
  color: var(--color-green);
}

.days:after {
  content: "";
  position: absolute;
  width: 59%;
  height: 4px;
  top: 67px;
  left: 20px;
  background-color: var(--color-button);
}

.price {
  font-size: 32px;
  padding: 27px 0;
  text-wrap: nowrap;
}

@media screen and (max-width: 1750px) {
  .price-container {
    scale: 0.8;
  }
}

@media screen and (max-width: 1023px) {
  .price-container {
    top: 20px;
    left: 50%;
    right: auto;
  }
}

@media screen and (max-width: 550px) {
  .price-container {
    scale: 0.5;
    left: 40%;
  }
}
