.main-image {
  position: relative;
  width: clamp(315px, 174px + 44vw, 1035px);
  bottom: 11%;
  right: -3.5%;
}

@media screen and (max-width: 1750px) {
  .main-image {
    bottom: 0;
  }
}

@media screen and (max-width: 1400px) {
  .main-image {
    right: 6%;
    bottom: 0;
  }
}

@media screen and (max-width: 1250px) {
  .main-image {
    bottom: -60px;
  }
}

@media screen and (max-width: 1023px) {
  .main-image {
    width: clamp(315px, 185px + 40.5vw, 600px);
    bottom: 62%;
    right: -45%;
    transform: translate(-40%, 50%);
    margin: 50px 0 10px 0;
    scale: 1.2;
  }
}
