section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  position: relative;
}

.card {
  position: relative;
  display: grid;
  width: 100%;
  max-width: 1920px;
  height: auto;
  background-color: var(--color-white);
  margin: 0 0 0 2rem;
}

.grid-item {
  position: relative;
}

.top-container {
  margin-right: 2rem;
}

.more-trips {
  position: relative;
  bottom: 8px;
  left: -25px;
  cursor: pointer;
}

.more-trips p {
  position: absolute;
  top: 35px;
  left: 115px;
  font-size: 26px;
  color: var(--color-dark-green);
  text-wrap: nowrap;
}

.more-trips:hover img {
  scale: 1.1;
  transition: 0.5s;
}

@media screen and (min-width: 1024px) {
  .card {
    grid-template-columns: 52.7% auto;
    grid-template-rows: 34.5% auto 33%;
    height: clamp(700px, 648px + 16.3vw, 966px);
    border: 1px solid #efefef;
    margin: 0 2rem;
  }

  .top-container {
    grid-area: span 3;
    margin: 0;
  }

  .more-trips {
    position: absolute;
    left: 5px;
  }
}

@media screen and (min-width: 1400px) {
  .card {
    grid-template-rows: 38.5% 28.5% 33%;
  }

  .more-trips {
    bottom: 50px;
  }
}
